<nav class="navbar navbar-expand-lg fixed-top bg-light navbar-light">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          id="tecazigna-log"
          src="https://conectatec.telasist.com/imagenes_proveedores/logoConectatec.png"
          alt="Tecazigna"
          draggable="false"
          height="30"
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto align-items-center">
          <li class="nav-item">
            <a class="nav-link mx-2" href="#"><i class="fas fa-plus-circle pe-2"></i>Option</a>
          </li>

          <li class="nav-item ms-3">
            <a class="btn btn-dark btn-rounded" href="{{ url_for('auth.logout') }}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  